<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/site.webmanifest">
    <link rel="mask-icon" href="/static/icons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <title>Suicide Hotline</title>
</head>
<body>
    <h1>Help is available</h1>
    <p>Official suicide hotline for country code {{country}}</p>
    <div id="info">
        {% if number is not none %}
            <p>Call: <a href="tel:{{number}}">{{number}}</a></p>
        {% endif %}
        {% if website is not none %}
            <p>Website: <a href="{{website}}">{{website}}</a></p>
        {% endif %}
        {% if alt is not none %}
            <p>{{alt}}</p>
        {% endif %}
    </div>
</body>
</html>