<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Suicide Hotline</title>
</head>
<body>
    <h1>Help is available</h1>
    <p>Suicide hotlines for country code {{country}}</p>
    <div id="info">
        {% if number is not none %}
            <p>Call: <a href="tel:{{number}}">{{number}}</a></p>
        {% endif %}
        {% if website is not none %}
            <p>Website: <a href="{{website}}">{{website}}</a></p>
        {% endif %}
        {% if alt is not none %}
            <p>{{alt}}</p>
        {% endif %}
    </div>
</body>
</html>